@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  font-family: "Poppins";
}
h1 {
  font-size: 42px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
}

h3 {
  font-size: 16px;
  font-weight: 100;
  padding-top: 8px;
  padding-bottom: 8px;
}